.contact100-logo {
    display: block;
    margin: 0 auto 32px auto;
    max-width: 100%;
    height: auto;
}

input.input100 {
    padding-top: 16px;
}
div.resume {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
}
div.resume strong {
    color: black;
}
.employes {
    margin-top: 20px;
    display: none;
}
